[submodule "externals/SDL"]
	path = externals/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "externals/argparse"]
	path = externals/argparse
	url = https://github.com/p-ranav/argparse
[submodule "externals/gbit"]
	path = externals/gbit
	url = https://github.com/TsilaAllaoui/gbit
